h1 {
    color: white;
    text-align: center;
    font-family: fantasy;
}

a {
    margin-right: 75px;
    margin-left: 170px;
    text-decoration: none;
    color: black;
    border: 3px solid black;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 5px 0 0 black;
}

a:focus {
    box-shadow: inset 0 5px 0 2px black;
    color: black;
}

a:hover {
    background-color: lightblue;
    transition: background-color 2s linear;
    padding: 15px;
}

p {
    color: white;
}

body {
    background-color: black;
    font-family: cursive;
    font-size: 25px;
}

html, body {
    height: 100%;
}

.aboUtme {
    border: 5px outset white;
    border-radius: 15px;
    margin-right: 150px;
    margin-left:150px;
    padding: 10px;
    background-color: darkslategrey;
}

nav {
    border: 5px inset white;
    border-radius: 15px;
    padding-bottom: 30px;
    margin-right: 200px;
    margin-left: 200px;
    background-color: darkslategray;
     white-space: nowrap;
}

nav p {
    text-align: center;
}
